<form action="/links" method="post">
  <fieldset>
    <legend>New Link</legend>
    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix">Title</span>
      </div>
      <div class="small-6 columns">
        <input type="text" id="title" name="link[title]">
      </div>
      <div class="small-3 columns">
        <select class="postfix" name="link[category]">
          <% categories.each do |category| %>
            <option value= <%= category %> >
              <%= category %>
            </option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix">http://</span>
      </div>
      <div class="small-9 columns">
        <input type="text" id="url" name="link[url]">
      </div>
    </div>

    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix">Description</span>
      </div>
      <div class="small-6 columns">
        <input type="text" id="description" name="link[description]">
      </div>
      <div class="small-3 columns">
        <input class="button postfix" type="submit" value="Add Link">
      </div>
    </div>
  </fieldset>
</form>
